html {
    overflow-x: hidden;
    width: 100%;
	
}
html, body {
  margin:0px;
  overflow-x: hidden;
}
html, body {
  margin:0px;
  height:100vh;
   width: 100%;
}


body > div{
  margin:auto !important;
}
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #777;
}

.profile-header {
    position: relative;
    overflow: hidden
}
.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}
.alt-grid [class*="container"] {padding-left:0;padding-right:0}
/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}
.profile-header .profile-header-cover {
    background-color:#2A2965;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	height:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}
.container{
  overflow: auto;
  position:absolute;
  left: 0;
    right: 0;
    top: 0;
    bottom: 0
}



.profile-header .profile-header-content {
    color: #fff;
    padding: 25px
}


.profile-header-img {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0 -20px;
    padding: 3px;
    border-radius: 4px;
    background: #fff
}

.profile-header-img img {
    max-width: 100%
}

.profile-header-info h4 {
    font-weight: 500;
	font-size:30px;
    color: #fff
}

.profile-header-img+.profile-header-info {
    margin-left: 150px;
	
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
    position: relative
}

.b-minus-1,
.b-minus-10,
.b-minus-2,
.b-minus-3,
.b-minus-4,
.b-minus-5,
.b-minus-6,
.b-minus-7,
.b-minus-8,
.b-minus-9,
.b-plus-1,
.b-plus-10,
.b-plus-2,
.b-plus-3,
.b-plus-4,
.b-plus-5,
.b-plus-6,
.b-plus-7,
.b-plus-8,
.b-plus-9,
.l-minus-1,
.l-minus-2,
.l-minus-3,
.l-minus-4,
.l-minus-5,
.l-minus-6,
.l-minus-7,
.l-minus-8,
.l-minus-9,
.l-plus-1,
.l-plus-10,
.l-plus-2,
.l-plus-3,
.l-plus-4,
.l-plus-5,
.l-plus-6,
.l-plus-7,
.l-plus-8,
.l-plus-9,
.r-minus-1,
.r-minus-10,
.r-minus-2,
.r-minus-3,
.r-minus-4,
.r-minus-5,
.r-minus-6,
.r-minus-7,
.r-minus-8,
.r-minus-9,
.r-plus-1,
.r-plus-10,
.r-plus-2,
.r-plus-3,
.r-plus-4,
.r-plus-5,
.r-plus-6,
.r-plus-7,
.r-plus-8,
.r-plus-9,
.t-minus-1,
.t-minus-10,
.t-minus-2,
.t-minus-3,
.t-minus-4,
.t-minus-5,
.t-minus-6,
.t-minus-7,
.t-minus-8,
.t-minus-9,
.t-plus-1,
.t-plus-10,
.t-plus-2,
.t-plus-3,
.t-plus-4,
.t-plus-5,
.t-plus-6,
.t-plus-7,
.t-plus-8,
.t-plus-9 {
    position: relative!important
}
.sidenav {
  height: 100vh;
  width: 310px;
  position: relative;
  z-index: 1;
  top: 0;
  bottom:0;
  left: 0;
  background-color: #efefef5c;
  overflow-x: hidden;
  
  padding-top: 20px;
}

.sidenav a {
  padding: 18px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  font-family: "Open Sans", sans-serif;
}
ion-icon {
  font-size: 25px;
  display:inline-block;
}

.sidenav a:hover {
  color: pink;
}

.parent {
  white-space: nowrap;
  display: flex;
 /* Same as the width of the sidenav */
}
.cont{
	
	width:100%;
	position: relative;
	margin-top:55px;
}
table, th, td {
  border: 0px;
}
table {
    position:relative;
    width: 50%;
}



td{
	width:400px;
	height:40px;
}
th{
	font-size:20px;
	height:60px;
}
ol.c li{
	margin-bottom: 15px;
	list-style-type:none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.profile-header .profile-header-tab {
    background: #e1f6ff;
    list-style-type: none;
    margin: -10px 0 0;
    padding: 0 0 0 140px;
    white-space: nowrap;
    border-radius: 0
}

.text-ellipsis,
.text-nowrap {
    white-space: nowrap!important
}


form-btn dx {
	position: absolute;
    width: 50%;
	height: 60px;
	margin-top: 40px;
	bottom: 0;
	border: 0;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}
form-btn dx {
	
	border-radius: 0 0 5px 0;
	background-color: rgb(153 37 82);
	color: #fff;
}





.m-b-2 {
    margin-bottom: 2px!important;
}
